# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Dotenv
.env
.env.*
!.env.example

# Node
node_modules/
npm-debug.log*
coverage/

knowledge.md
sos.md
